nav {
    width: 100%;
    display: flex;
    margin-top: 1%;
    span {
        margin-left: 10%;
    }
   .list-container {
       list-style: none;
       display: flex;
       margin-left: 25%;
   } li {
       padding-left: 20px;
   }
}

section {
    width: 100%;
    height: auto;
    background-color: blueviolet;
    padding: 7%;
    h1 {
        text-align: center;
    }
}

.col {
    width: 100%;
    background-color: aqua;
    img {
        border-radius: 50%;
    }
    span {
        color: beige;
    }
}

.row {
    div {
        display: flex;
        flex-direction: column;
    }
    span {
        text-align: center;
    }
}